<h3>Add Student</h3>
<%= form_with model: @student do |f|%>
<%=f.text_field:name ,placeholder:"Enter Student's name"%>
<%=f.text_field:age ,placeholder:"Enter Student's age"%>
<br>
<%=f.submit%>

<%end%>